$regular-font: 'comfortaaregular';
$header-font: 'audiowideregular';
$basic-color: #cac9ce;
$text-color: #000505;
$interface-color: #3e6e7a;
//$interface-color: darken($basic-color, 4);
$site-font-size: 18px;
$site-font-size-error: 2px;

* {
    margin: 0;
    padding: 0;
    font-family: $regular-font;
    font-size: $site-font-size;
    color: $text-color
}

body {
    background-color: $basic-color;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'audiowideregular';
    src: url('../../current.layout/fonts/audiowide-regular.woff2') format('woff2'),
         url('../../current.layout/fonts/audiowide-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../../current.layout/fonts/comfortaa-variablefont_wght.woff2') format('woff2'),
         url('../../current.layout/fonts/comfortaa-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import '../current.blocks/about-title/about-title.scss';
@import '../current.blocks/burger-button/burger-button.scss';
@import '../current.blocks/regular-nav/regular-nav.scss';
@import '../current.blocks/nav-list/nav-list.scss';
@import '../current.blocks/mobile-nav/mobile-nav.scss';
@import '../current.blocks/inner-header/inner-header.scss';
@import '../current.blocks/social/social.scss';
@import '../current.blocks/inner-footer/inner-footer.scss';
@import '../current.blocks/project-section/project-section.scss';
@import '../current.blocks/regular-flow/regular-flow.scss'