include ../current.blocks/about-title/about-title.pug
include ../current.blocks/js-lib/findEndPath.js.pug
include ../current.blocks/inner-footer/inner-footer.pug
include ../current.blocks/inner-header/inner-header.pug
include ../current.blocks/about-title/about-title.pug
include ../current.blocks/nav-list/nav-list.pug
include ../current.blocks/burger-button/burger-button.pug
include ../current.blocks/mobile-nav/mobile-nav.pug
include ../current.blocks/regular-nav/regular-nav.pug
include ../current.blocks/social/social.pug


block vars
- var startPath = '';
- var lowerPName = PageName.toLowerCase();

if PageName === 'About'
    - startPath = 'bundles/'
else
    - startPath = '../'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if PageName === 'About'
            title Anna Stetsenko
            link(rel="stylesheet", href='bundles/index/index.css')
        else
            title=PageName
            link(rel="stylesheet", href=(lowerPName + '.css'))
    body 
        +inner-header 

        block content

        +inner-footer