$regular-font: 'comfortaaregular';
$header-font: 'audiowideregular';
$basic-color: #fcfcfc;
$text-color: #000505;
$interface-color: darken($basic-color, 4);

* {
    margin: 0;
    padding: 0;
    font-family: $regular-font;
    color: $text-color
}

body {
    background-color: $basic-color;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'audiowideregular';
    src: url('../../current.layout/fonts/audiowide-regular.woff2') format('woff2'),
         url('../../current.layout/fonts/audiowide-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../../current.layout/fonts/comfortaa-variablefont_wght.woff2') format('woff2'),
         url('../../current.layout/fonts/comfortaa-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import '../current.blocks/mobile-nav/mobile-nav.scss';
@import '../current.blocks/about-title/about-title.scss';
@import '../current.blocks/burger-button/burger-button.scss';
@import '../current.blocks/regular-nav/regular-nav.scss';
@import '../current.blocks/nav-list/nav-list.scss';