mixin nav-list(list_arr, mixClass='') 
    ul(class="nav-list " + mixClass) 
        each page in list_arr 
            - var className = ''                           
            - var endPath = findEndPath('html', page)

            if page !== PageName 
            else 
                - className = 'current'                           

            a(class="nav-list__link", href=startPath + endPath)=page 
                li(class=className + ' nav-list__item')

