include ../blocks/about-title/about-title.pug
include ../blocks/js-lib/findEndPath.js.pug
include ../blocks/inner-footer/inner-footer.pug
include ../blocks/inner-header/inner-header.pug
include ../blocks/about-title/about-title.pug
include ../blocks/nav-list/nav-list.pug
include ../blocks/burger-button/burger-button.pug
include ../blocks/burger-button/burger-button__line/burger-button__line.pug
include ../blocks/mobile-nav/mobile-nav.pug
include ../blocks/regular-nav/regular-nav.pug

block vars
- var startPath = ''

if PageName === 'About'
else
    - startPath = '../'



doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=PageTitle  
        link(rel="stylesheet", href=(startPath + findEndPath('css', PageName)))
    body 
        +inner-header 

        block content

        +inner-footer