mixin regular-nav
    nav(class="regular-nav")  
        +about-title('Anya Stetsenko', 'regular-nav__about-title')
        +nav-list(['Projects', 'Gallery', 'Feedback'], 'regular-nav__nav-list')
        +social('regular-nav__social')