block vars

- var pageArr = ['About', 'Projects', 'Gallery', 'Feedback'];

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=PageTitle 
    body 
        header 
            nav  
                ul 
                    each page in pageArr 
                        - var className = ''                           
                        - var fullPath = '../index.html'
                        - var startPath = ''

                        if PageName === 'About'
                        else
                            - startPath = '../'

                        if page === 'About'
                            - fullPath = startPath + '../index.html'
                        else 
                            - fullPath = startPath + '../html/' + page.toLowerCase() + '/'  + page.toLowerCase() + '.html'

                        
                        if page !== PageName 
                        else 
                            - className = 'selected'                           
                        
                        li(class=className)
                            a(href=fullPath)=page 

        block content
        footer=PageFooter 