mixin mobile-nav
    nav(class="mobile-nav")
                    input(type="checkbox", id="mobile-menu" class="mobile-nav__checkbox")
                    label(for="mobile-menu" class="mobile-nav__label") 
                        +burger-button('mobile-nav__burger-menu-line')
                        +about-title('Anya Stetsenko', 'mobile-nav__about-title', false)

                    +nav-list(['About', 'Projects', 'Gallery', 'Feedback'], 'mobile-nav__nav-list')
