mixin about-title(name, mixClass='', isLink=true) 
    if isLink
        p(class="about-title " + mixClass)
            a(class="about-title__link", href=startPath + '../index.html')=name
    else 
        p(class="about-title " + mixClass)=name

