extends ../layout.pug

block vars
    - var PageName = 'Projects'


block content 
    +project-section('The role of the striatum in the attractor dynamics in the anterolateral motor cortex') 
        p='first paragraph'
        p='second paragraph'
    +project-section("Dendritic morphology and the resonant properties of neurons")
        p first paragraph
    +project-section("RoboLibre")
        p first paragraph
    +project-section("A temporal differentiation circuit of GABAergic neurons mediates the computation of reward prediction errors in the ventral tegmental area")
        p first paragraph